<!DOCTYPE html> 
<html> 
 
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- configuration -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <head> 
    <title>Speleo|Some Pithy Text</title> 
    <link href="./assets/css/bootstrap.css" rel="stylesheet"> 
    <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"> 
    <link href="./assets/css/main.css" media="all" rel="stylesheet" type="text/css"/> 
  </head> 
 
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- navigation -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <body> 

    <div class="navbar navbar-fixed-top"> 
      <img id='main-logo' src='./assets/img/helmet.png' /> 
      <div class="navbar-inner"> 
        <div class="container"> 
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </a> 
          <a class="brand" href="#">Speleo</a> 
          <div class="nav-collapse"> 
            <ul class="nav"> 
              <li><a href="search.html">Search</a></li> 
              <li><a href="health.html">Health</a></li> 
              <li><a href="query.html">Query</a></li> 
              <li><a href="dashboard.html">Dashboard</a></li> 
              <li class='active'><a href="blocks.html">Blocks</a></li> 
              <li><a href="about.html">About</a></li> 
              <li><a href="contact.html">Contact</a></li> 
            </ul> 
            <p class="navbar-text pull-right">Logged in as <a href="#">demo</a></p>
          </div>
        </div> 
      </div> 
    </div> 

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- content -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="container"> 
      <div id="block-app">

        <div class='row'>
          <div class="span12">
            <button id='block-create' class='btn btn-primary pull-right'><i class='icon-plus'></i> Create Block</button>
            <form id='block-form' class='well form-horizontal'>
              <a class="close">&times;</a>
              <fieldset>
                <div class='control-group'>
                  <label class='control-label' for='block-title'>Title</label>
                  <div class='controls'>
                    <div class='input-prepend'>
                      <span class='add-on'><i class='icon-tag'></i></span>
                      <input id='block-title' type='text' class='input-xlarge' placeholder='What do you want to call this block' />
                    </div>
                  </div>
                </div>
                <div class='control-group'>
                  <label class='control-label' for='block-title'>Type</label>
                  <div class='controls'>
                    <div class='input-prepend'>
                      <span class='add-on'><i class='icon-th-list'></i></span>
                      <select id='block-type' class='input-xlarge'>
                        <option value='single'>Single Value</option>
                        <option value='table'>Table Result</option>
                        <option value='pie-chart'>Pie Chart</option>
                        <option value='bar-chart'>Bar Chart</option>
                        <option value='line-chart'>Line Chart</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class='control-group'>
                  <label class='control-label' for='block-title'>Query</label>
                  <div class='controls'>
                    <div class='input-prepend'>
                      <span class='add-on'><i class='icon-cog'></i></span>
                      <input id='block-query' type='text' class='input-xxlarge' placeholder='What do you want this block to monitor' />
                    </div>
                  </div>
                </div>
                <div class='form-actions'>
                  <button id='block-submit' type='submit' class='btn btn-primary'><i class='icon-plus'></i> Create</button>
                  <button id='block-cancel' class='btn'><i class='icon-minus'></i> Cancel</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>

       <div id='block-status' class='thumbnails'>
       </div>

      </div>
    </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- templates -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script type="text/template" id="block-template">
        <a class="close block-close">&times;</a>
        <div class='thumbnail'>
          <h3><%= title %></h3>
          <p><%= text %></p>
          <button class='btn btn-<%= status %> btn-large'>
            <%= count %>
          </button>
        </div>
    </script>

    <script type="text/template" id="block-table-template">
      <table class='table table-striped tabled-condensed'>
        <thead>
          <tr>
            <th>#</th>
          <% _.each(titles, function(titles) { %>
            <th><%= title %></th>
          <% }); %>
          </tr>
        </thead>
        <tbody>
        <% _.each(columns, function(column, index) { %>
          <tr>
            <td><%= index %></td>
          <% _.each(_.values(column), function(value) { %>
            <td><%= value %></td>
          <% }); %>
          </tr>
        <% }); %>
        </tbody>
      </table>
    </script>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- javascript -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script src="./assets/js/lib/jquery.js"></script> 
    <script src="./assets/js/lib/underscore.js"></script> 
    <script src="./assets/js/lib/bootstrap.js"></script> 
    <script src="./assets/js/lib/highcharts.js"></script> 
    <script src="./assets/js/lib/backbone.js"></script> 
    <script src="./assets/js/lib/elasticsearch.js"></script> 
    <script src="./assets/js/speleo.blocks.js"></script> 

  </body> 
</html>
