<!DOCTYPE html> 
<html lang="en"> 
 
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- configuration -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="speleo ftw"> 
    <meta name="author" content="bashwork"> 

    <title>Speleo|System Health</title> 
    <link href="./assets/css/bootstrap.css" rel="stylesheet"> 
    <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"> 
    <link href="./assets/css/main.css" media="all" rel="stylesheet" type="text/css"/> 

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
  </head> 
 
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- navigation -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <body> 

    <div class="navbar navbar-fixed-top"> 
      <img id='main-logo' src='./assets/img/helmet.png' /> 
      <div class="navbar-inner"> 
        <div class="container"> 
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </a> 
          <a class="brand" href="#">Speleo</a> 
          <div class="nav-collapse"> 
            <ul class="nav"> 
              <li class="active"><a href="#">Home</a></li> 
              <li><a href="#about">About</a></li> 
              <li><a href="#contact">Contact</a></li> 
              <li><a href="#health">Health</a></li> 
            </ul> 
            <p class="navbar-text pull-right">Logged in as <a href="#">demo</a></p>
          </div>
        </div> 
      </div> 
    </div> 

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- content -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="container"> 
      <div id="health-app">

        <div class="row">
          <div class="span12">
          <div class="well">
          <a class="btn btn-primary" id='health-enable' href="#">Start Polling</a>
          <div class="btn-group pull-right">
            <a class='btn' href='#'>node 1</a>
            <a class='btn' href='#'>node 2</a>
            <a class='btn' href='#'>node 3</a>
          </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="span6">
            <div class="well"></div>
          </div>

          <div class="span6">
            <div class="well"></div>
          </div>
        </div>

        <div class="row">
          <div class="span4">
            <div class="well"></div>
          </div>

          <div class="span4">
            <div class="well"></div>
          </div>

          <div class="span4">
            <div class="well"></div>
          </div>
        </div>

        <div class="row">
          <div class="span4">
            <div class="well"></div>
          </div>

          <div class="span4">
            <div class="well"></div>
          </div>

          <div class="span4">
            <div class="well"></div>
          </div>
        </div>

      </div>
    </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- templates -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script type="text/template" id="info-template">
      <div class='info-block'>
        <table class='table table-bordered'>
        <thead>
          <tr>
            <th><%= title %></th>
          </tr>
        </thead>
        <tbody>
        <% _.each(values, function(value) { %>
          <tr>
           <td><%= vaule.key%></td>
           <td><%= vaule.value%></td>
          </tr>
        <% }); %>
        </tbody>
        </table>
      </div>
    </script>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- javascript -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script src="./assets/js/lib/jquery.js"></script> 
    <script src="./assets/js/lib/underscore.js"></script> 
    <script src="./assets/js/lib/bootstrap.js"></script> 
    <script src="./assets/js/lib/highstock.js"></script> 
    <script src="./assets/js/lib/backbone.js"></script> 
    <script src="./assets/js/lib/elasticsearch.js"></script> 
    <script src="./assets/js/main-health.js"></script> 

  </body> 
</html>
