{% extends "base.html" %}

{% block page-title %}Speleo| Blockboard{% end %}
{% block content %}

        <div class='row'>
          <div class="span12">
            <button id='block-create' class='btn btn-primary pull-right'><i class='icon-plus'></i> Create Block</button>
            <form id='block-form' class='well form-horizontal'>
              <a class="close">&times;</a>
              <fieldset>
                <div class='control-group'>
                  <label class='control-label' for='block-title'>Title</label>
                  <div class='controls'>
                    <div class='input-prepend'>
                      <span class='add-on'><i class='icon-tag'></i></span>
                      <input id='block-title' type='text' class='input-xlarge' placeholder='What do you want to call this block' />
                    </div>
                  </div>
                </div>
                <div class='control-group'>
                  <label class='control-label' for='block-title'>Type</label>
                  <div class='controls'>
                    <div class='input-prepend'>
                      <span class='add-on'><i class='icon-th-list'></i></span>
                      <select id='block-type' class='input-xlarge'>
                        <option value='single'>Single Value</option>
                        <option value='table'>Table Result</option>
                        <option value='pie-chart'>Pie Chart</option>
                        <option value='bar-chart'>Bar Chart</option>
                        <option value='line-chart'>Line Chart</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class='control-group'>
                  <label class='control-label' for='block-title'>Query</label>
                  <div class='controls'>
                    <div class='input-prepend'>
                      <span class='add-on'><i class='icon-cog'></i></span>
                      <input id='block-query' type='text' class='input-xxlarge' placeholder='What do you want this block to monitor' />
                    </div>
                  </div>
                </div>
                <div class='form-actions'>
                  <button id='block-submit' type='submit' class='btn btn-primary'><i class='icon-plus'></i> Create</button>
                  <button id='block-cancel' class='btn'><i class='icon-minus'></i> Cancel</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>

       <div id='block-status' class='thumbnails'>
       </div>
{% end %}

{% block templates %}

    <script type="text/template" id="block-template">
        <a class="close block-close">&times;</a>
        <div class='thumbnail'>
          <h3><%= title %></h3>
          <p><%= text %></p>
          <button class='btn btn-<%= status %> btn-large'>
            <%= count %>
          </button>
        </div>
    </script>

    <script type="text/template" id="block-table-template">
      <table class='table table-striped tabled-condensed'>
        <thead>
          <tr>
            <th>#</th>
          <% _.each(titles, function(titles) { %>
            <th><%= title %></th>
          <% }); %>
          </tr>
        </thead>
        <tbody>
        <% _.each(columns, function(column, index) { %>
          <tr>
            <td><%= index %></td>
          <% _.each(_.values(column), function(value) { %>
            <td><%= value %></td>
          <% }); %>
          </tr>
        <% }); %>
        </tbody>
      </table>
    </script>
{% end %}

{% block extra-tail %}
    <script src="./static/js/lib/highcharts.js"></script> 
    <script src="./static/js/lib/elasticsearch.js"></script> 
    <script src="./static/js/speleo.blocks.js"></script> 
{% end %}
