{% extends "base.html" %}

{% block page-title %}Speleo| Health Monitor{% end %}
{% block content %}
        <div class="row">
          <div class="span12">
            <div id='health-toolbar' class="well">
              <form class="form-inline">
                <button class="btn btn-primary" id='health-enable'>Start Polling</button>
                <input id='health-delay'  type="text" class="input-medium" placeholder="Refresh Delay" />
                <input id='health-window' type="text" class="input-medium" placeholder="Chart Window" />
                <div id='health-nodes' class="btn-group pull-right"> </div>
              </form>
            </div>
          </div>
        </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- information tables -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="row">
          <div class="span6">
            <div id='node-system-info' class="wel health-table"></div>
          </div>

          <div class="span6">
            <div id='node-jvm-info' class="wel health-table"></div>
          </div>
        </div>

        <div class="row">
          <div class="span6">
            <div id='node-index-info' class="wel health-table"></div>
          </div>

          <div class="span6">
            <div id='node-network-info' class="wel health-table"></div>
          </div>
        </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- information charts -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="row">
          <div class="span4">
            <div id="node-jvm-threads"></div>
          </div>

          <div class="span4">
            <div id="node-jvm-heap-memory"></div>
          </div>

          <div class="span4">
            <div id="node-jvm-stack-memory"></div>
          </div>
        </div>

        <div class="row">
          <div class="span4">
            <div id='node-os-cpu'></div>
          </div>

          <div class="span4">
            <div id='node-os-swap-memory'></div>
          </div>

          <div class="span4">
            <div id='node-os-main-memory'></div>
          </div>
        </div>
{% end %}

{% block extra-tail %}
    <script src="/static/js/speleo.health.js"></script> 
    <script src="/static/js/speleo.health.charts.js"></script> 
{% end %}
