{% extends "base.html" %}

{% block page-title %}Speleo| Search{% end %}
{% block content %}

        <form id='search-events' class='well form-search'>
          <input id='new-event' type='text' class='input-xlarge search-query' placeholder='What are you looking for' />
          <button id='new-event-submit' type='submit' class='btn'><i class='icon-search'></i> Search</button>
        </form>

        <div id='event-graph'>
        </div>

        <div id='event-status'>
        </div>

        <div class='row'>
          <div class="span12">
          <div id="events">
            <ul id='event-list'></ul>
          </div>
          </div>
        </div>
{% end %}

{% block extra-tail %}
    <script src="/static/js/speleo.search.js"></script> 
{% end %}
