<a class="close event-close">&times;</a>
<div class='event'>
  <div class='event-time'>
    <span class='event-title'><%= title %></span>
    <span class='event-time-date'><%= time %></span>
    <span class='event-time-time'><%= date %></span>
  </div>
  <div class='event-text'><%= text %></div>
  <div class='event-tags'>
  <% _.each(tags, function(tag) { %>
     <span class='label'><%= tag %></span>
  <% }); %>
  </div>
</div>
