<!DOCTYPE html> 
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- configuration -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<html> 
  <head> 
    <title>Speleo|<% page_title or Some Pithy Text %></title> 
    <link href="./assets/css/bootstrap.css" rel="stylesheet"> 
    <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"> 
    <link href="./assets/css/google-prettify.css" rel="stylesheet"> 
    <link href="./assets/css/main.css" media="all" rel="stylesheet" type="text/css"/> 
    <% extra_css_files %>
  </head> 
 
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- navigation -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <body> 
    <div class="navbar navbar-fixed-top"> 
      <img id='main-logo' src='./assets/img/helmet.png' /> 
      <div class="navbar-inner"> 
        <div class="container"> 
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </a> 
          <a class="brand" href="#">Speleo</a> 
          <div class="nav-collapse"> 
            <ul class="nav"> 
              <li><a href="search.html">Search</a></li> 
              <li><a href="health.html">Health</a></li> 
              <li><a href="query.html">Query</a></li> 
              <li><a href="dashboard.html">Dashboard</a></li> 
              <li><a href="about.html">About</a></li> 
              <li><a href="contact.html">Contact</a></li> 
            </ul> 
            <% user_login_block %>
          </div>
        </div> 
      </div> 
    </div> 

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- content -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <div class="container"> 
      <div id="speleo-app">
        <% page_content %>
      </div>
    </div>

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!-- javascript -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script src="./assets/js/lib/jquery.js"></script> 
    <script src="./assets/js/lib/underscore.js"></script> 
    <script src="./assets/js/lib/bootstrap.js"></script> 
    <script src="./assets/js/lib/backbone.js"></script> 
    <% extra_javascript_files %>
  </body> 
</html>
